html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    word-spacing: 1px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    grid-column:1/4;
    
}

.flexbox-navbar {
    display: flex;
    justify-items: center;
    height:100px;
  }
  
.flexbox-navbar > div {
    text-align: center;
    margin-top:auto;
    margin-bottom: auto;
}

.sub-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.sub-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#logo {
    font-size: 28px;
    font-weight: 800;
    padding-right: 5%;
    color:#49516f;
    margin-left:2%;
}

img {
    height:272px;
    width:385px;
    border-radius: 10px;
}

.menu {
    margin-top:auto;
    margin-bottom: auto;
    padding:30px;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-between;
}

.registration {
    margin-top:auto;
    margin-bottom: auto;
    font-size:18px;
    font-weight: 600;
    padding:20px;
}

.intro {
    margin-top:20px;
    margin-bottom:20px;
    padding-top: 80px;
}

#tagline {
    width:100%;
    font-family: "Poppins",sans-serif;
    font-size:36px;
    font-weight: 700;
    color: #49516f;
    word-spacing: 1px;
}

#child-tagline {
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    color: #49516f;
    font-weight: 300;
}

.btn-masuk {
    padding: 16px 26px;
    border-radius: 12px;
    font-family: "Poppins",sans-serif;
    background-color: #f63854;
    border-color: #f63854;
    font-size:15px;
    font-weight: 600;
}